
$color : black;
.ariane{
  list-style: none;
}
.ArianeSpan{
  color: $color;
}
.ArianeLien{
  text-decoration: none;
  color: $color;
}
.ArianeLien:hover{
  text-decoration: none;
  color: $color;
}
img {
  width: 100%;
}