//menu burger avant clic :

.menu-burger {
  transition: all .25s;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  z-index: 1;
  padding-top: 3%;
  cursor: pointer;
  background-color: #A5ABAF;
  @include rwd(350){
    height: 50px;
    width: 50px;
    padding: 4%;
    padding: 3%;
  }
  @include rwd(1220){
    display: none;
  }
  ul {
    list-style: none;
    transition: all 0s;
    position: fixed;
    left: -9000px;
  }
}
.b-a{
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: #4C4C4C;
}
.burger {
  @extend .b-a !optional;
  position: fixed;
  left: 12px;
  margin-top: 3%;
  @include rwd(350){
    margin-top: 2%;
  }
}
.burgerUp {
    @extend .b-a !optional;
    position: fixed;
    left: 12px;
}
.burgerDown {
    @extend .b-a !optional;
    position: fixed;
    left: 12px;
    margin-top: 6%;
  @include rwd(350){
    margin-top: 4%;
  }
}

//menu burger après clic
.menu-burger-expension {
  transition: all .25s;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  ul {
    transition: all 0s;
    position: relative;
    left: 0;
    z-index: 2;
  }
  a {
    transition: all .15s;
    text-decoration: none;
    font-size: 1.5em;
    color: whitesmoke;
    display:block;
  }
  .lien_Burger{
    height: 0;
    margin-top: 10%;
    margin-bottom: 23%;
  }
  .b-a-extendion{
    height: 6px;
    width: 40px;
    border-radius: 15px;
    background-color: whitesmoke;
    transition: all .25s;
  }
  .burger {
    background-color: transparent;
  }
  .burgerUp {
    @extend .b-a !optional;
    position: fixed;
    left: 12px;
    margin-top: 2%;
    transform: rotate(45deg);
  }
  .burgerDown {
    @extend .b-a !optional;
    position: fixed;
    left: 12px;
    margin-top: 2%;
    transform: rotate(-45deg);
  }
  .boutton_Burger{
    font-size: 2em;
    padding: 6px;
    color: whitesmoke;
    display:block;
  }
  .boutton_BurgerDeco{
    font-size: 2em;
    padding: 6px;
    color: red;
    display:block;
  }
}

//le ScrollUp
#up {
  display: inline-block;
  background-color: #FF9800;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#up:hover {
  cursor: pointer;
  background-color: #333;
}
#up.show {
  opacity: 1;
  visibility: visible;
}

