.formalite{
  padding: 6%;
}
.form{
  padding: 5%;
}
.userAuthor, .discussion_titre, .discussion_first_post, .discussion_categorie, .discussion_place{
  margin-bottom: 2%;
}
.textarea_content{
  width: 90%;
  height: 150px;
  resize: none;
}
.discussion_first_post{
  width: 70%;
  height: 250px;
  resize: none;
}