.header {
  @include header(70vh);
}
.HeaderBackground {
  background-color: #A5ABAF;
  min-height: 8vh;
}
// les listes -----------------------
.HeaderListe {
  padding: 5%;
  list-style: none;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HeaderOngletOne{
  display: none;
  @include rwd(765){
    padding: 1%;
    list-style: none;
    display: flex;
    width: 60%;
  }
}
.HeaderOngletTwo{
  display: none;
  @include rwd(765){
    align-items: center;
    padding: 1%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
  @include rwd(1220){
    align-items: center;
    width: 40%;
    justify-content: flex-end;
  }
}
// le titre ----------------------
.Header_TitleSite{
  list-style: none;
  display: flex;
  padding-top: 2%;
}
.header_Title{
  left: 20%;
  top: 50%;
  position: absolute;
  @include sm{
    top: 25%;
  }
  :hover{
    text-decoration: none;
    color: whitesmoke;
  }
}
.HeaderH1{
  color: black;
  font-size: 1.6rem;
  @include  rwd(860) {
    font-size: 2rem;
  }
  @include rwd(1200){
    font-size: 3rem;
  }
  @include rwd(1540){
    font-size: 4rem;
  }
}

// les bouttons -------------------
.header_boutton{
  display: none;
  @include rwd(765){
    width: 50%;
    display: block;
    right: 3%;
    padding: 0;
    top: 30%;
  }
  @include rwd(1220){
  }

}
.boutton {
  border: whitesmoke solid 1px;
  padding: 5%;
  border-radius: 50px;
  width: auto;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}
.boutton:hover {
  text-decoration: none;
  border: black solid 1px;
  background-color: whitesmoke;
  color: black;
  color: black;
  text-decoration: none;
}

.bouttonCo{
  width: 30%;
  @include rwd(1220){
    width: 40%;
  }
}

// les bouttons connexions au niveau du menu ---------------------------
.bouttonConUser {
  border: whitesmoke solid 1px;
  border-radius: 50px;
  right: 3%;
  padding: 5%;
  margin-top: 0;
  width: auto;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}
.bouttonConUser:hover{
    text-decoration: none;
    border: black solid 1px;
    background-color: whitesmoke;
    color: black;
}
.bouttonCoHeader{
  border: whitesmoke solid 1px;
  padding: 5%;
  border-radius: 50px;
  color: whitesmoke;
  width: 70%;
  text-decoration: none;
  text-align: center;
}
.bouttonCoHeader:hover {
  text-decoration: none;
  border: black solid 1px;
  background-color: whitesmoke;
  color: black;
}
.bouttonDecoHeader{
  border: #ff0000 solid 1px;
  padding: 5%;
  border-radius: 50px;
  width: 70%;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  background-color: rgba(214, 52, 46, 0.75);
}
.bouttonDecoHeader:hover{
  border: #ff0000 solid 1px;
  color: black;
  text-decoration: none;
  padding: 5%;
  border-radius: 50px;
  width: 70%;
  text-align: center;
  background-color: rgba(214, 52, 46);
}
.listBouttonCoOne{
  list-style: none;
  display: none;
  @include rwd(545){
    display: block;
    li:first-child{
      margin-bottom: 30%;
    }
  }
  @include rwd(1220){
    display: none;
  }
}
.listBouttonCoTwo{
  list-style: none;
  display: none;
  @include rwd(1220){
    display: flex;
    justify-content: center;
    flex-direction: row;
    li{
      width: 40%;
    }
  }
}

// les bouttons connexions au niveau du titre ---------------------------
.BouttonCoUnderPC{
  position: absolute;
  top: 30%;
  ul{
    list-style: none;
  }
  @include rwd(1220){
    display: none;
  }
}
.bouttonCoHeaderOne{
  border: whitesmoke solid 1px;
  padding: 5%;
  border-radius: 50px;
  color: whitesmoke;
  width: 70%;
  text-decoration: none;
  text-align: center;
}
.bouttonCoHeaderOne:hover {
  text-decoration: none;
  border: black solid 1px;
  background-color: whitesmoke;
  color: black;
}
.bouttonDecoHeaderOne{
  border: #ff0000 solid 1px;
  padding: 5%;
  border-radius: 50px;
  background-color: rgba(214, 52, 46, 0.75);
  width: 70%;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}
.bouttonDecoHeaderOne:hover{
  border: #ff0000 solid 1px;
  color: black;
  text-decoration: none;
  padding: 5%;
  border-radius: 50px;
  width: 70%;
  text-align: center;
  background-color: rgba(214, 52, 46);
}

// le logo et l'image de recherche ---------------
.header_Logo{
  display: none;
  @include rwd(765){
    display: block;
    position: absolute;
    top: 3%;
    left: 3%;
    width: 10%;
  }

}
.Logo{
  width: 100%;
}

// les liens ---------------------
.HeaderLien  {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}
.HeaderLien:hover {
  text-decoration: none;
  color: whitesmoke;
}
.LienNav{
  padding-left: 7%;
}

.liSearch{
    display: block;
  @include rwd(1220){
    display: block;
    margin-right: 3%;
  }
}
.content_search{
  padding: 5%;
}
.searchLien{
  text-decoration: none;
  color: black;
}
.searchLien:hover{
  text-decoration: none;
  color: whitesmoke;
}
.HeaderListe_search{
  display: flex;
  list-style: none;
  li{
    margin-right: 2%;
  }
  .search{
    display: none;
    @include rwd(1220){
      display: block;
      width: 10%;
    }
  }
}

//le menu burger ---------------------
.menuBurger .line {
  width: 100%;
  height: 0;
  border: solid 2px;
  border-color: white;
  margin-top: 10%;
  color: white;
  margin-bottom: 20%;
}
