.RedirectionInscription{
  margin-bottom: 2%;
  margin-left: 10%;
}
.lienInscription{
  text-decoration: none;
  color: black;
}
.lienInscription:hover{
  text-decoration: none;
  color: darkcyan;
}
.formulaireConnexion{
  padding: 2% 10% 2% 10%;
}
.bouttonConnexion{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
