.header {
  height: 70vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.HeaderBackground {
  background-color: #A5ABAF;
  min-height: 8vh;
}

.HeaderListe {
  padding: 5%;
  list-style: none;
  display: flex;
  position: relative;
  justify-content: flex-end;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderOngletOne {
  display: none;
}
@media (min-width: 765px) {
  .HeaderOngletOne {
    padding: 1%;
    list-style: none;
    display: flex;
    width: 60%;
  }
}

.HeaderOngletTwo {
  display: none;
}
@media (min-width: 765px) {
  .HeaderOngletTwo {
    align-items: center;
    padding: 1%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 35%;
  }
  .HeaderOngletTwo li {
    margin-right: 2%;
  }
}
@media (min-width: 1220px) {
  .HeaderOngletTwo {
    align-items: center;
    width: 20%;
    justify-content: flex-end;
  }
}

.Header_TitleSite {
  list-style: none;
  display: flex;
  padding-top: 2%;
}

.header_Title {
  left: 20%;
  top: 50%;
  position: absolute;
}
@media (min-width: 576px) {
  .header_Title {
    top: 25%;
  }
}
.header_Title :hover {
  text-decoration: none;
  color: whitesmoke;
}

.HeaderH1 {
  color: black;
  font-size: 1.6rem;
}
@media (min-width: 860px) {
  .HeaderH1 {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .HeaderH1 {
    font-size: 3rem;
  }
}
@media (min-width: 1540px) {
  .HeaderH1 {
    font-size: 4rem;
  }
}

.header_boutton {
  display: none;
}
@media (min-width: 765px) {
  .header_boutton {
    display: block;
    right: 3%;
    padding: 0;
    top: 30%;
  }
}
.boutton {
  border: whitesmoke solid 1px;
  padding: 5%;
  border-radius: 50px;
  width: auto;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}

.bouttonConUser {
  border: whitesmoke solid 1px;
  border-radius: 50px;
  right: 3%;
  padding: 5%;
  margin-top: 0;
  width: auto;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}

.bouttonConUser:hover {
  text-decoration: none;
  border: black solid 1px;
  background-color: whitesmoke;
  color: black;
}

.bouttonDeco {
  border: #ff0000 solid 1px;
  padding: 5%;
  border-radius: 50px;
  width: auto;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
  background-color: rgba(214, 52, 46, 0.75);
}

.listBouttonCo {
  list-style: none;
  display: none;
}
@media (min-width: 765px) {
  .listBouttonCo {
    display: block;
    padding: 0;
  }
}

.bouttonCo:last-child {
  margin-top: 30%;
}
@media (min-width: 1220px) {
  .bouttonCo:last-child {
    margin-top: 20%;
  }
}

.boutton:hover {
  text-decoration: none;
  border: black solid 1px;
  background-color: whitesmoke;
  color: black;
  color: black;
  text-decoration: none;
}

.header_Logo {
  display: none;
}
@media (min-width: 765px) {
  .header_Logo {
    display: block;
    position: absolute;
    top: 3%;
    left: 3%;
    width: 10%;
  }
}

.Logo {
  width: 100%;
}

.HeaderLien {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.HeaderLien:hover {
  text-decoration: none;
  color: whitesmoke;
}

.LienNav {
  padding-left: 7%;
}

.Lien_Search {
  display: block;
}
@media (min-width: 1220px) {
  .Lien_Search {
    position: absolute;
    right: 10%;
    padding: 0;
    width: 20%;
  }
}

.content_search {
  padding: 5%;
}

.searchLien {
  text-decoration: none;
  color: black;
}

.searchLien:hover {
  text-decoration: none;
  color: whitesmoke;
}

.HeaderListe_search {
  display: flex;
  list-style: none;
}
.HeaderListe_search li {
  margin-right: 2%;
}
.HeaderListe_search .search {
  display: none;
}
@media (min-width: 1220px) {
  .HeaderListe_search .search {
    display: block;
    width: 10%;
  }
}

.menuBurger .line {
  width: 100%;
  height: 0;
  border: solid 2px;
  border-color: white;
  margin-top: 10%;
  color: white;
  margin-bottom: 20%;
}

body {
  background-color: #C8C6AF;
}

.ariane {
  list-style: none;
}

.ArianeSpan {
  color: black;
}

.ArianeLien {
  text-decoration: none;
  color: black;
}

.ArianeLien:hover {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.footer {
  background-color: #A5ABAF;
  margin: 3% 0 0 0;
  padding: 5%;
}

.footerListe {
  list-style: none;
  padding: 0;
}
.footerListe li {
  margin-bottom: 3%;
}
@media (min-width: 1220px) {
  .footerListe {
    display: flex;
    justify-content: space-between;
  }
  .footerListe li {
    margin-bottom: 0;
  }
}

.footerLien {
  text-decoration: none;
  color: black;
  font-size: 1em;
}
@media (min-width: 768px) {
  .footerLien {
    font-size: x-large;
  }
}

.footerLien:hover {
  text-decoration: none;
  color: whitesmoke;
}

.footerLigne {
  width: 80%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3%;
}
@media (min-width: 1220px) {
  .footerLigne {
    margin-bottom: 0;
  }
}

@media all and (max-width: 1025px) {
  .header {
    height: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media all and (max-width: 1126px) {
  .HeaderLien {
    font-size: 1rem;
  }
}
@media all and (max-width: 815px) {
  .HeaderLien {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 768px) {
  .HeaderH1 {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 450px) {
  .HeaderH1 {
    font-size: 0.7rem;
  }
}
@media all and (min-width: 765px) {
  .bandeauFirst, .bandeauSecond, .bandeauThird, .bandeauFourth {
    height: 30vh;
  }
}
@media all and (max-width: 765px) {
  .bandeauFirst, .bandeauSecond, .bandeauThird, .bandeauFourth {
    height: 20vh;
  }
}
@media all and (max-width: 815px) {
  .footerListe {
    display: block;
  }
}
.introduction {
  padding: 2%;
}

.container_ariane {
  width: 70%;
}

.ariane {
  padding-left: 10%;
}
@media (min-width: smpx) {
  .ariane {
    font-size: x-small;
  }
}
@media (min-width: mdpx) {
  .ariane {
    font-size: small;
  }
}
@media (min-width: lgpx) {
  .ariane {
    font-size: unset;
  }
}

.article {
  background-color: #EAEAEA;
  margin: 0 5% 2% 5%;
}

.articleDiv {
  margin: 2% 0;
}

.ArticleLien {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  list-style: none;
}

.ArticleLien:hover {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  list-style: none;
}

.articleDiv:last-child {
  padding: 2%;
  margin: 0;
}

.ArticleLigne {
  list-style: none;
}

.bandeauFirst {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.bandeauSecond {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.bandeauThird {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.ArticleLiens {
  text-decoration: none;
  color: black;
  padding: 1% 0;
  list-style: none;
}

ArticleLiens:hover {
  text-decoration: none;
  color: black;
  padding: 1% 0;
  list-style: none;
}

.ArticleSpan {
  font-size: 0.8rem;
}

.ArticleParagraph {
  font-size: 0.9rem;
}

.album {
  padding-top: 2%;
}

.articleCarousel {
  background-color: #11ffee00;
  padding: 2%;
  margin-bottom: 2%;
}

.articleCarouselLien {
  text-decoration: none;
  color: black;
}

.ArticleCarouselLiens {
  list-style: none;
  padding: 0;
  text-align: center;
}

.ArticleCarouselLigne {
  background-color: #EAEAEA;
  border-radius: 10px;
  padding: 2%;
}

.parcour .activity .places .bandeauFirst {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.parcour .activity .places .bandeauSecond {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.parcour .activity .places .bandeauThird {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.parcour .activity .places .bandeauFourth {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.ArianeLien {
  text-decoration: none;
  color: black;
  list-style: none;
}

.commentaire {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  background-color: #EAEAEA;
  min-height: 20vh;
  margin-bottom: 2%;
}

.postReponse {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  background-color: #EAEAEA;
  min-height: 20vh;
  margin-bottom: 1%;
}

.poster {
  width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border-right: black 1px solid;
  align-items: center;
}

.avatar_post {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-width: 70%;
  max-width: 80%;
}

.info {
  background-color: #EAEAEA;
}

.content {
  width: 90%;
  height: 20%;
  background-color: #EAEAEA;
  padding: 2%;
}

.reponse {
  width: 70%;
  background-color: #EAEAEA;
  padding: 2%;
  margin: auto;
  margin-bottom: 4%;
  min-height: 30vh;
}

.listGalerieUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listGalerieLigne:nth-child(3) span {
  font-size: 0.8em;
}

.listGalerieLigne {
  text-align: center;
  align-items: center;
}

.PrezGalerie {
  margin-bottom: 2%;
  /* haut | droit | bas | gauche */
  margin: 0 2% 3% 2%;
  background-color: #11ffee00;
}

.listGalerieLien {
  text-decoration: none;
  color: black;
  transition-duration: 0.7s;
}

.listGalerieLien:hover {
  text-decoration: none;
  color: darkcyan;
}

.PicturePrez {
  height: 300px;
  background-color: #916319;
  margin: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.userPrez {
  padding-bottom: 1%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 1020px) {
  .userPrez {
    display: flex;
  }
}

.avatar {
  width: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 375px) {
  .avatar {
    width: 45%;
    max-width: 45%;
    margin-right: 5%;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .avatar {
    width: 30%;
    max-width: 30%;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .avatar {
    width: 15%;
    max-width: 15%;
  }
}
.avatar img {
  width: 100%;
}

.userInfo {
  width: 80%;
  border: white 2px solid;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 375px) {
  .userInfo {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 768px) {
  .userInfo {
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .userInfo {
    margin-left: 3%;
    margin-right: 3%;
    width: 20%;
  }
}

.listeUserInfo {
  list-style: none;
  padding: 10%;
}

.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: white 2px solid;
  overflow: auto;
}
@media (min-width: 375px) {
  .description {
    width: 90%;
    margin-top: 5%;
  }
}
@media (min-width: 768px) {
  .description {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
  }
}
@media (min-width: 1024px) {
  .description {
    width: 55%;
  }
}

.paragrapheDescription {
  padding: 5%;
}

#user_profil_Description {
  width: 70%;
  height: 150px;
  resize: none;
}

.updateProfil {
  margin-bottom: 3%;
}

.bouttonProfil, .bouttonUpProfil {
  color: #538e9a;
  text-decoration: underline;
}

.bouttonUpProfil {
  padding-left: 3%;
  padding-bottom: 3%;
}

.bouttonUpProfil:hover {
  color: #003e4b;
  text-decoration: none;
}

.bouttonProfil {
  padding-left: 5%;
}

.bouttonProfil:hover {
  text-decoration: underline;
  color: #003e4b;
}

.userCOntent {
  padding-bottom: 5%;
}

.userCOntent {
  display: flex;
}

.userParticipation {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
}
@media (min-width: 1024px) {
  .userParticipation {
    width: 80%;
  }
}

.userArticle, .userGalerie {
  background-color: #d6d4c2;
  width: 90%;
}

.userGalerie {
  margin-top: 5%;
}

.placeUser {
  list-style: none;
}

.placeUserTwo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.placeUserTwo li {
  margin-right: 3%;
}

.formPlacesUser {
  height: 30px;
  border: white 2px solid;
  margin: auto;
  width: 90%;
}

.userPlacesOne {
  display: none;
}
@media (min-width: 1024px) {
  .userPlacesOne {
    width: 15%;
    display: block;
    margin-right: 5%;
    background-color: #d6d4c2;
  }
}

.userPlacesTwo {
  background-color: #d6d4c2;
  border: white 2px solid;
  margin: auto;
  padding: 2%;
  width: 90%;
}
@media (min-width: 1024px) {
  .userPlacesTwo {
    display: none;
  }
}

.listePlaces {
  padding-top: 5%;
  padding-bottom: 5%;
}

.formulaires {
  text-align: center;
  width: 90%;
  padding: 8%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.connexion {
  width: 45%;
}

.inscription {
  width: 45%;
}

.formUser {
  width: 100%;
}

.formUserUsername, .formUserAvatar, .formUserDescription, .formUserEmail, .formUserPassword {
  margin-bottom: 3%;
}

#user_username, #user_password, #user_email {
  width: 40%;
}

.RedirectionInscription {
  margin-bottom: 2%;
  margin-left: 10%;
}

.lienInscription {
  text-decoration: none;
  color: black;
}

.lienInscription:hover {
  text-decoration: none;
  color: darkcyan;
}

.formulaireConnexion {
  padding: 2% 10% 2% 10%;
}

.bouttonConnexion {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.formalite {
  padding: 6%;
}

.form {
  padding: 5%;
}

.userAuthor, .discussion_titre, .discussion_first_post, .discussion_categorie, .discussion_place {
  margin-bottom: 2%;
}

.textarea_content {
  width: 90%;
  height: 150px;
  resize: none;
}

#formUserDescription, #discussion_first_post, #galerieForm_description {
  width: 90%;
  height: 150px;
  resize: none;
}

.discussion_first_post {
  width: 70%;
  height: 250px;
  resize: none;
}

.menu-burger {
  transition: all 0.25s;
  position: fixed;
  top: 0;
  left: 0;
  height: 48px;
  width: 48px;
  z-index: 1;
  padding-top: 3%;
  cursor: pointer;
  background-color: #A5ABAF;
}
@media (min-width: 350px) {
  .menu-burger {
    height: 50px;
    width: 50px;
    padding: 4%;
    padding: 3%;
  }
}
@media (min-width: 1220px) {
  .menu-burger {
    display: none;
  }
}
.menu-burger ul {
  list-style: none;
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.b-a, .menu-burger-expension .burgerDown, .menu-burger-expension .burgerUp, .burgerDown, .burgerUp, .burger {
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: #4C4C4C;
}

.burger {
  position: fixed;
  left: 12px;
  margin-top: 3%;
}
@media (min-width: 350px) {
  .burger {
    margin-top: 2%;
  }
}

.burgerUp {
  position: fixed;
  left: 12px;
}

.burgerDown {
  position: fixed;
  left: 12px;
  margin-top: 6%;
}
@media (min-width: 350px) {
  .burgerDown {
    margin-top: 4%;
  }
}

.menu-burger-expension {
  transition: all 0.25s;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.menu-burger-expension ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-burger-expension a {
  transition: all 0.15s;
  text-decoration: none;
  font-size: 1.5em;
  color: whitesmoke;
  display: block;
}
.menu-burger-expension .lien_Burger {
  height: 0;
  margin-top: 10%;
  margin-bottom: 23%;
}
.menu-burger-expension .b-a-extendion {
  height: 6px;
  width: 40px;
  border-radius: 15px;
  background-color: whitesmoke;
  transition: all 0.25s;
}
.menu-burger-expension .burger {
  background-color: transparent;
}
.menu-burger-expension .burgerUp {
  position: fixed;
  left: 12px;
  margin-top: 2%;
  transform: rotate(45deg);
}
.menu-burger-expension .burgerDown {
  position: fixed;
  left: 12px;
  margin-top: 2%;
  transform: rotate(-45deg);
}
.menu-burger-expension .boutton_Burger {
  font-size: 2em;
  padding: 6px;
  color: whitesmoke;
  display: block;
}
.menu-burger-expension .boutton_BurgerDeco {
  font-size: 2em;
  padding: 6px;
  color: red;
  display: block;
}

/*# sourceMappingURL=main.scss.map */

/*# sourceMappingURL=main.css.map */
