.header {
  height: 80vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.HeaderBackground {
  background-color: #A5ABAF;
}

.HeaderListe {
  list-style: none;
}

.HeaderLien {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.HeaderLien:hover {
  text-decoration: none;
  color: whitesmoke;
}

.HeaderListe .magnifyingGlass {
  width: 30%;
}

.content_search {
  padding: 5%;
}

.searchLien {
  text-decoration: none;
  color: black;
}

.searchLien:hover {
  text-decoration: none;
  color: whitesmoke;
}

.boutton {
  border: whitesmoke solid 1px;
  padding: 5%;
  border-radius: 50px;
  width: auto;
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}

.listBouttonCo {
  padding: 0;
}

.bouttonCo {
  list-style: none;
}

.bouttonCo:last-child {
  margin-top: 30%;
}

.boutton:hover {
  text-decoration: none;
  border: black solid 1px;
  background-color: whitesmoke;
  color: black;
  color: black;
  text-decoration: none;
}

.menuBurger .line {
  width: 100%;
  height: 0;
  border: solid 2px;
  border-color: white;
  margin-top: 10%;
  color: white;
  margin-bottom: 20%;
}

body {
  background-color: #C8C6AF;
}

.ariane {
  list-style: none;
}

.ArianeSpan {
  color: black;
}

.ArianeLien {
  text-decoration: none;
  color: black;
}

.ArianeLien:hover {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

.footer {
  background-color: #A5ABAF;
  margin: 0;
  padding: 2%;
}

.footerListe {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.footerLien {
  text-decoration: none;
  color: black;
  font-size: 1em;
}

.footerLien:hover {
  text-decoration: none;
  color: whitesmoke;
}

@media all and (max-width: 1025px) {
  .header {
    height: 70vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
@media all and (max-width: 1126px) {
  .HeaderLien {
    font-size: 1rem;
  }
}
@media all and (max-width: 815px) {
  .HeaderLien {
    font-size: 0.9rem;
  }
}
@media all and (max-width: 768px) {
  .HeaderH1 {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 450px) {
  .HeaderH1 {
    font-size: 0.7rem;
  }
}
@media all and (min-width: 765px) {
  .bandeauFirst, .bandeauSecond, .bandeauThird, .bandeauFourth {
    height: 30vh;
  }
}
@media all and (max-width: 765px) {
  .bandeauFirst, .bandeauSecond, .bandeauThird, .bandeauFourth {
    height: 20vh;
  }
}
@media all and (max-width: 815px) {
  .footerListe {
    display: block;
  }

  .footerLigne {
    margin: auto;
    width: 40%;
  }
}
.introduction {
  padding: 2%;
}

.article {
  background-color: #EAEAEA;
  margin: 0 5% 2% 5%;
}

.articleDiv {
  margin: 2% 0;
}

.ArticleLien {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  list-style: none;
}

.ArticleLien:hover {
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  list-style: none;
}

.articleDiv:last-child {
  padding: 2%;
  margin: 0;
}

.ArticleLigne {
  list-style: none;
}

.bandeauFirst {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.bandeauSecond {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.bandeauThird {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.ArticleLiens {
  text-decoration: none;
  color: black;
  padding: 1% 0;
  list-style: none;
}

ArticleLiens:hover {
  text-decoration: none;
  color: black;
  padding: 1% 0;
  list-style: none;
}

.ArticleSpan {
  font-size: 0.8rem;
}

.ArticleParagraph {
  font-size: 0.9rem;
}

.album {
  padding-top: 2%;
}

.articleCarousel {
  background-color: #11ffee00;
  padding: 2%;
  margin-bottom: 2%;
}

.articleCarouselLien {
  text-decoration: none;
  color: black;
}

.ArticleCarouselLiens {
  list-style: none;
  padding: 0;
  text-align: center;
}

.ArticleCarouselLigne {
  background-color: #EAEAEA;
  border-radius: 10px;
  padding: 2%;
}

.parcour .activity .places .bandeauFirst {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.parcour .activity .places .bandeauSecond {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.parcour .activity .places .bandeauThird {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.parcour .activity .places .bandeauFourth {
  margin: 0;
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.ArianeLien {
  text-decoration: none;
  color: black;
  list-style: none;
}

.commentaire {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  background-color: #EAEAEA;
  min-height: 20vh;
  margin-bottom: 2%;
}

.postReponse {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  background-color: #EAEAEA;
  min-height: 20vh;
  margin-bottom: 1%;
}

.poster {
  width: 25%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  border-right: black 1px solid;
  align-items: center;
}

.avatar_post {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  min-width: 70%;
  max-width: 80%;
}

.info {
  background-color: #EAEAEA;
}

.content {
  width: 90%;
  height: 20%;
  background-color: #EAEAEA;
  padding: 2%;
}

.reponse {
  width: 70%;
  background-color: #EAEAEA;
  padding: 2%;
  margin: auto;
  margin-bottom: 4%;
  min-height: 30vh;
}

.listGalerieUl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listGalerieLigne:nth-child(3) span {
  font-size: 0.8em;
}

.listGalerieLigne {
  text-align: center;
  align-items: center;
}

.PrezGalerie {
  margin-bottom: 2%;
  /* haut | droit | bas | gauche */
  margin: 0 2% 3% 2%;
  background-color: #11ffee00;
}

.listGalerieLien {
  text-decoration: none;
  color: black;
  transition-duration: 0.7s;
}

.listGalerieLien:hover {
  text-decoration: none;
  color: darkcyan;
}

.PicturePrez {
  height: 300px;
  background-color: #916319;
  margin: auto;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.userPrez {
  padding-bottom: 1%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
}

.avatar {
  width: 15%;
  border: white 2px solid;
  max-width: 15%;
  background-color: black;
}

.userInfo {
  width: 20%;
  border: white 2px solid;
  margin-left: 2%;
  margin-right: 2%;
}

.listeUserInfo {
  list-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
}

.description {
  width: 60%;
  border: white 2px solid;
}

.paragrapheDescription {
  padding: 5%;
}

#user_profil_Description {
  width: 70%;
  height: 150px;
  resize: none;
}

.userCOntent {
  padding-bottom: 5%;
}

.updateProfil {
  margin-bottom: 3%;
}

.bouttonProfil, .bouttonUpProfil {
  color: #788187;
  text-decoration: underline;
}

.bouttonUpProfil {
  padding-left: 3%;
  padding-bottom: 3%;
}

.bouttonProfil {
  padding-left: 5%;
}

.bouttonProfil:hover {
  color: #788187;
  text-decoration: underline;
}

.userCOntent {
  display: flex;
}

.formPlacesUser {
  height: 30px;
  border: white 2px solid;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}

.userPlaces {
  width: 15%;
  background-color: #d6d4c2;
}

.listePlaces {
  padding-top: 5%;
  padding-bottom: 5%;
}

.placeUser {
  list-style: none;
}

.userParticipation {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.userArticle, .userGalerie {
  width: 90%;
  background-color: #d6d4c2;
}

.userGalerie {
  margin-top: 5%;
}

.formulaires {
  text-align: center;
  width: 90%;
  padding: 8%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.connexion {
  width: 45%;
}

.inscription {
  width: 45%;
}

.formUser {
  width: 100%;
}

.formUserUsername, .formUserAvatar, .formUserDescription, .formUserEmail, .formUserPassword {
  margin-bottom: 3%;
}

#user_username, #user_password, #user_email {
  width: 40%;
}

.RedirectionInscription {
  margin-bottom: 2%;
  margin-left: 10%;
}

.lienInscription {
  text-decoration: none;
  color: black;
}

.lienInscription:hover {
  text-decoration: none;
  color: darkcyan;
}

.formulaireConnexion {
  padding: 2% 10% 2% 10%;
}

.bouttonConnexion {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.formalite {
  padding: 6%;
}

.form {
  padding: 5%;
}

.userAuthor, .discussion_titre, .discussion_first_post, .discussion_categorie, .discussion_place {
  margin-bottom: 2%;
}

.textarea_content {
  width: 90%;
  height: 150px;
  resize: none;
}

#formUserDescription, #discussion_first_post, #galerieForm_description {
  width: 90%;
  height: 150px;
  resize: none;
}

.discussion_first_post {
  width: 70%;
  height: 250px;
  resize: none;
}

.menu-burger {
  transition: all 0.25s;
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
  width: 58px;
  z-index: 1;
  cursor: pointer;
  background-color: #A5ABAF;
}
.menu-burger ul {
  transition: all 0s;
  position: fixed;
  left: -9000px;
}

.b-a, .menu-burger-expension .burgerDown, .menu-burger-expension .burgerUp, .burgerDown, .burgerUp, .burger {
  height: 6px;
  width: 30px;
  border-radius: 15px;
  background-color: #4C4C4C;
}

.burger {
  position: fixed;
  left: 12px;
  top: 4%;
}

.burgerUp {
  position: fixed;
  left: 12px;
  top: 2%;
}

.burgerDown {
  position: fixed;
  left: 12px;
  top: 6%;
}

.menu-burger-expension {
  transition: all 0.25s;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.menu-burger-expension ul {
  transition: all 0s;
  position: relative;
  left: 0;
  z-index: 2;
}
.menu-burger-expension a {
  transition: all 0.15s;
  text-decoration: none;
  font-size: 1.5em;
  color: whitesmoke;
  display: block;
}
.menu-burger-expension .lien_Burger {
  height: 0;
  margin-top: 10%;
  margin-bottom: 23%;
}
.menu-burger-expension .b-a-extendion {
  height: 6px;
  width: 40px;
  border-radius: 15px;
  background-color: whitesmoke;
  transition: all 0.25s;
}
.menu-burger-expension .burger {
  background-color: transparent;
}
.menu-burger-expension .burgerUp {
  position: fixed;
  left: 12px;
  top: 4%;
  transform: rotate(45deg);
}
.menu-burger-expension .burgerDown {
  position: fixed;
  left: 12px;
  top: 4%;
  transform: rotate(-45deg);
}
.menu-burger-expension .boutton_Burger {
  font-size: 2em;
  padding: 6px;
  color: whitesmoke;
  display: block;
}

/*# sourceMappingURL=main.scss.map */

/*# sourceMappingURL=main.css.map */
