
.suppression{
  text-align: right;
  padding: 5% 5% 0 0;
}
.supprMessage{
  color: black;
}
.supprMessage:hover{
  color: red;
  border: #ff0000 solid 1px;
  padding: 1%;
  border-radius: 50px;
  background-color: rgba(214, 52, 46, 0.75);
}
.validation{
  visibility: hidden;
}
.validation_up{
  opacity: 1;
  visibility: visible;
  background-color: whitesmoke;
  border: black solid 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2%;
}
.bouttonChoise{
  list-style: none;
  display: flex;
  li{
    width: 50%;
    align-items: center;
    a{
      text-decoration: none;
    }
  }
}