.userPrez{
  padding-bottom: 1%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
}
.avatar{
  width: 15%;
  border: white 2px solid;
  max-width: 15%;
  background-color: black;
}
.userInfo{
  width: 20%;
  border: white 2px solid;
  margin-left: 2%;
  margin-right: 2%;
}
.listeUserInfo{
  list-style: none;
  padding-top: 5%;
  padding-bottom: 5%;
}
.description{
  width: 60%;
  border: white 2px solid;
}
.paragrapheDescription{
  padding: 5%;
}
.userCOntent{
  padding-bottom: 5%;
}
.updateProfil{
  margin-bottom: 3%;
}
.bouttonProfil, .bouttonUpProfil{
  color: #788187;
  text-decoration: underline;
}
.bouttonUpProfil{
  padding-left: 3%;
  padding-bottom: 3%;
}
.bouttonProfil{
  padding-left: 5%;
}
.bouttonProfil:hover{
  color: #788187;
  text-decoration: underline;
}
.userCOntent{
  display: flex;
}
.formPlacesUser{
  height: 30px;
  border: white 2px solid;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 90%;
}
.userPlaces{
  width: 15%;
  background-color: #d6d4c2;
}
.listePlaces{
  padding-top: 5%;
  padding-bottom: 5%;
}
.placeUser{
  list-style: none;
}
.userParticipation{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.userArticle, .userGalerie{
  width: 90%;
  background-color: #d6d4c2;
}
.userGalerie{
  margin-top: 5%;
}