.userPrez{
  padding-bottom: 1%;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-wrap: wrap;
  @include rwd(1020){
    display: flex;
  }
}

//avatar -------------------------
.avatar {
  width: 80%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  @include rwd(375){
    width: 45%;
    max-width: 45%;
    margin-right: 5%;
    margin-left: 0;
  }
  @include rwd(768) {
    width: 30%;
    max-width: 30%;
    margin-right: 0;
  }
  @include rwd(1024) {
    width: 15%;
    max-width: 15%;
  }
  img {
    width: 100%;
  }
}
// info utilisateur ---------------------
.userInfo {
  width: 80%;
  border: white 2px solid;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  @include rwd(375) {
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
  }
  @include rwd(768) {
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
  }
  @include rwd(1024) {
    margin-left: 3%;
    margin-right: 3%;
    width: 20%;
  }
}

.listeUserInfo {
  list-style: none;
  padding: 10%;
}


// description utilisateur ---------------------
.description {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  @include rwd(375){
    width: 90%;
    margin-top: 5%;
  }
  border: white 2px solid;
  overflow: auto;
  @include rwd(768) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 40%;
  }
  @include rwd(1024) {
    width: 55%;
  }
}

.paragrapheDescription {
  padding: 5%;
}

#user_profil_Description {
  width: 70%;
  height: 150px;
  resize: none;
}

//up de l'utilisateur ---------------------
.updateProfil {
  margin-bottom: 3%;
}

.bouttonProfil, .bouttonUpProfil {
  color: #538e9a;
  text-decoration: underline;
}

.bouttonUpProfil {
  padding-left: 3%;
  padding-bottom: 3%;
}

.bouttonUpProfil:hover {
  color: #003e4b;
  text-decoration: none;
}

.bouttonProfil {
  padding-left: 5%;
}

.bouttonProfil:hover {
  text-decoration: underline;
  color: #003e4b;
}

// contenu de l'utilisateur -----------------------
.userCOntent {
  padding-bottom: 5%;
}

.userCOntent {
  display: flex;
}

.userParticipation {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 95%;
  @include rwd(1024) {
    width: 80%;
  }
}

.userArticle, .userGalerie {
  background-color: #d6d4c2;
  width: 90%;
}

.userGalerie {
  margin-top: 5%;
}

// lieux visiter ---------------------
.placeUser {
  list-style: none;
}

.placeUserTwo {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 3%;
  }
}

.formPlacesUser {
  height: 30px;
  border: white 2px solid;
  margin: auto;
  width: 90%;
}

.userPlacesOne {
  display: none;
  @include rwd(1024) {
    width: 15%;
    display: block;
    margin-right: 5%;
    background-color: #d6d4c2;
  }
}

.userPlacesTwo {
  background-color: #d6d4c2;
  border: white 2px solid;
  margin: auto;
  padding: 2%;
  width: 90%;
  @include rwd(1024) {
    display: none;
  }
}

.listePlaces {
  padding-top: 5%;
  padding-bottom: 5%;
}

