/* HEADER - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - BASE */
header {
    height: 80vh;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }

@media all and (max-width: 1025px) {
    header {
        height: 70vh;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed; } }
header div {
    background-color: #A5ABAF; }
header ul {
    list-style: none; }
header ul a {
    text-decoration: none;
    color: black;
    font-size: 1.2em; }
header ul a:hover {
    text-decoration: none;
    color: whitesmoke; }
@media all and (max-width: 1126px) {
    header ul a {
        font-size: 1.0rem; }
    header ul span {
        font-size: 1.0em; } }
@media all and (max-width: 815px) {
    header ul a {
        font-size: 0.9rem; }
    header ul span {
        font-size: 0.9em; } }
header ul .magnifyingGlass {
    width: 30%; }
@media all and (max-width: 768px) {
    header h1 {
        font-size: 1.2rem; } }
@media all and (max-width: 450px) {
    header h1 {
        font-size: 0.7rem; } }
header .menu {
    position: sticky;
    top: -1px; }
.content_search{
    padding: 5%;
}
.search a{
    text-decoration: none;
    color: black;
}
.search a:hover{
    text-decoration: none;
    color: whitesmoke;
}


.boutton {
    border: whitesmoke solid 1px;
    padding: 5%;
    border-radius: 50px;
    width: auto;
    color: whitesmoke;
    text-decoration: none;
    text-align: center; }
.boutton:hover {
    text-decoration: none;
    border: black solid 1px;
    background-color: whitesmoke;
    color: black;
    color: black;
    text-decoration: none; }

.menuBurger .line {
    width: 100%;
    height: 0;
    border: solid 2px;
    border-color: white;
    margin-top: 10%;
    color: white;
    margin-bottom: 20%; }

/* formalitées  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
.formalite{
    padding: 6%;
}

/* ARTICLES  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  HOME */

article {
    background-color: #EAEAEA;
    margin: 0 5% 2% 5%; }
article div {
    margin: 2% 0; }
article div a {
    font-size: 1.5em; }
article div:last-child {
    padding: 2%;
    margin: 0; }
article .bandeauFirst, article .bandeauSecond, article .bandeauThird, article .bandeauFourth {
    margin: 0; }
@media all and (min-width: 765px) {
    article .bandeauFirst, article .bandeauSecond, article .bandeauThird, article .bandeauFourth {
        height: 30vh; } }
@media all and (max-width: 765px) {
    article .bandeauFirst, article .bandeauSecond, article .bandeauThird, article .bandeauFourth {
        height: 20vh; } }
article .bandeauFirst {
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed; }
article .bandeauSecond {
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed; }
article .bandeauThird {
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed; }
    article ul {
    list-style: none;
    padding: 1% 0; }
    article ul span {
    font-size: 0.8rem; }
    article ul p {
    font-size: 0.9rem; }

/* Prez GALERIES  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  HOME */

.album {
    padding-top: 2%; }
.album article {
    background-color: #11ffee00;
    padding: 2%;
    margin-bottom: 2%; }
.album article ul {
    list-style: none;
    padding: 0;
    text-align: center; }
.album article ul span {
    font-size: 0.9rem; }
.album article ul p {
    font-size: 0.8rem; }
.album article ul .picture {
    background-color: #EAEAEA;
    border-radius: 10px;
    padding: 2%; }
.album article ul .picture a {
    text-decoration: none;
    color: black; }
.album article ul .picture a ul {
    overflow: hidden; }
.album article ul .picture a ul li:nth-child(even) span {
    font-size: 1.4em; }
.album article div {
    margin-bottom: 3%; }

/* SECTION  - - - - - - - - - -  COURSE  - - - - - - - - - - -  ACTIVITIES  - - - - - - - - - - - -  -  PLACES */

.parcour .activity .places .bandeauFirst {
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed; }
.parcour .activity .places .bandeauSecond {
    background-position: bottom;
    background-size: cover;
    background-attachment: fixed; }
.parcour .activity .places .bandeauThird {
    background-position: center;
    background-size: cover;
    background-attachment: fixed; }
.parcour .activity .places .bandeauFourth {
    background-position: center;
    background-size: cover;
    background-attachment: fixed; }

/* SECTION - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - - - - - GALERIES*/

.listGalerie
ul {
    list-style: none;
    margin: 0;
    padding: 0; }
.listGalerie
ul li:nth-child(3) span {
    font-size: 0.8em; }
.listGalerie
ul li {
    text-align: center;
    align-items: center; }
.listGalerie
ul a {
    text-decoration: none;
    color: black; }
.listGalerie
ul a:hover {
    text-decoration: none;
    color: black; }
.PrezGalerie{
    margin-bottom: 2%;
    /* haut | droit | bas | gauche */
    margin: 0 2% 3% 2%;
}
.PrezGalerie a{
    text-decoration: none;
    color: black;
    transition-duration: 0.7s;
}
.PrezGalerie a:hover{
    text-decoration: none;
    color: darkcyan;
}
.PicturePrez{
    width: 300px;
    height: 300px;
    background-color: #916319;
    margin: auto;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

}
/* POST  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
article a{
    text-decoration: none;
    color: black;
}
article a:hover{
    text-decoration: none;
    color: black;
}
.message {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    background-color: #EAEAEA;
    min-height: 40vh;
    margin-bottom: 3%;
}
.commentaire{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
    background-color: #EAEAEA;
    min-height: 20vh;
    margin-bottom: 2%;
}
.poster{
    width: 25%;
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
    border-right: black 1px solid;
    align-items: center;

}
.avatar{
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
.info{
    background-color: #EAEAEA;
}
.content{
    width: 90%;
    height: 20%;
    background-color: #EAEAEA;
    padding: 2%;
}

.reponse{
    width: 70%;
    background-color: #EAEAEA;
    padding: 2%;
    margin: auto;
    margin-bottom: 4%;
    min-height: 30vh;
}
.description{
    display: flex;
    justify-content: center;
    /* haut | droit | bas | gauche */
    margin: auto;
    background-color: #EAEAEA;
    width: 70%;
    padding: 2%;
    min-height: 20vh;
}
.Album{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}
@media all and (max-width: 1025px) {
    .Album {
        flex-direction: column;
        align-items: center; } }

.PictureAlbum{
    width: 30%;
    min-height: 200px;
    text-align: center;
    text-decoration: none;
}
@media all and (max-width: 1025px) {
    .PictureAlbum{
        width: 70%;
        min-height: 200px;
        text-align: center;
        text-decoration: none;
    } }
.PictureAlbum ul{
    list-style: none;
}
.PictureAlbum a{
    text-decoration: none;
    color: black;
}
.PictureAlbum a:hover {
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}

/* connexion  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */

.formulaires{
    text-align: center;
    width: 90%;
    padding: 8%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.connexion{
    width: 45%;
}
.inscription{
    width: 45%;
}

/* FOOTER  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  BASE */

footer {
    background-color: #A5ABAF;
    margin: 0;
    padding: 2%; }
footer ul {
    list-style: none;
    display: flex;
    justify-content: space-between; }
footer ul a {
    text-decoration: none;
    color: black;
    font-size: 1em; }
footer ul a:hover {
    text-decoration: none;
    color: whitesmoke; }
@media all and (max-width: 815px) {
    footer ul {
        display: block; }
    footer ul li {
        margin: auto;
        width: 40%; } }

.listGalerie
ul {
    list-style: none;
    margin: 0;
    padding: 0; }
.listGalerie
ul li:nth-child(3) span {
    font-size: 0.8em; }
.listGalerie
ul li {
    text-align: center;
    align-items: center; }
.listGalerie
ul a {
    text-decoration: none;
    color: black; }
.listGalerie
ul a:hover {
    text-decoration: none;
    color: black; }
.listGalerie
ul .picture {
    background-color: #EAEAEA;
    border-radius: 10px;
    padding: 2%;
    margin: 2%; }

body {
    background-color: #C8C6AF; }

p {
    font-family: 'Chilanka', cursive; }

h1, h2, h3, h4, a, span {
    font-family: 'Architects Daughter', cursive; }

.ariane {
    list-style: none;
    /* haut | droit | bas | gauche */
    margin: 1% 2% 2% 0;
    padding: 0; }
.ariane li {
    margin-right: 5px; }
.ariane li span {
    font-size: 1em; }
.ariane li a {
    text-decoration: none;
    color: black;
}
.ariane li a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.introduction {
    /* haut | droit | bas | gauche */
    margin: 0 5% 2% 5%;
    padding: 2%; }

.news {
    margin: 0 5%; }

/*# sourceMappingURL=style.css.map */
