{% extends 'Admin/Adminbase.html.twig' %}
{% block content %}

    <div class="formalite">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam est iure
            laborum minima quae repudiandae ullam. Ad eos est, harum hic inventore iure labore necessitatibus
            quae repellat, sint sit veritatis?</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores aspernatur consectetur dolor
            doloremque excepturi impedit, iste iure molestias natus, porro quibusdam, saepe sapiente tempora totam!
            Numquam quis sed voluptatibus?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet architecto facere maiores nam
            nostrum quasi quos repellat sunt, totam? At culpa ea explicabo fuga fugit laudantium perferendis quas sint!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam ea exercitationem libero nesciunt
            officiis quis rerum sed sit soluta! Accusamus at, aut expedita iste iure non quaerat soluta temporibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet architecto facere maiores nam
            nostrum quasi quos repellat sunt, totam? At culpa ea explicabo fuga fugit laudantium perferendis quas sint!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam ea exercitationem libero nesciunt
            officiis quis rerum sed sit soluta! Accusamus at, aut expedita iste iure non quaerat soluta temporibus!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet architecto facere maiores nam
            nostrum quasi quos repellat sunt, totam? At culpa ea explicabo fuga fugit laudantium perferendis quas sint!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam ea exercitationem libero nesciunt
            officiis quis rerum sed sit soluta! Accusamus at, aut expedita iste iure non quaerat soluta temporibus!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet architecto facere maiores nam
            nostrum quasi quos repellat sunt, totam? At culpa ea explicabo fuga fugit laudantium perferendis quas sint!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, aperiam ea exercitationem libero nesciunt
            officiis quis rerum sed sit soluta! Accusamus at, aut expedita iste iure non quaerat soluta temporibus!</p>
    </div>

{% endblock %}