{% extends 'base.html.twig' %}
{% block content %}

    <div class="content_search">

        <div class="form_search">
            <form action="" method="get">
                <label for="">rechercher : </label>
                <input name="search" type="text">
            </form>
        </div>

        <!--resultat-->


    </div>

{% endblock %}