{% extends 'base.html.twig' %}
{% block content %}

    <div class="formulaires">
        <div class="connexion">
            <p>FORMULAIRE DE CONNEXION</p>
        </div>
        <div class="inscription">
            <p>FORMULAIRE D INSCRIPTION</p>
        </div>
    </div>

{% endblock %}