{% extends 'base.html.twig' %}
{% block content %}

    <main>
        <div class="row container-fluid">
            <ul class="ariane">
                <li><a href={{ path('Home') }}>Acceuil</a></li>
                <li><span>Galeries</span></li>
            </ul>
        </div>

        <div class="listGalerie d-flex justify-content-around flex-wrap">

            <!--faire un affichage 9 galeries avant de passer à la page suivante-->
            <div class="col-3 m-2 picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3  m-2 picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3  m-2 picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3 m-2  picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3 m-2  picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3 m-2  picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3 m-2  picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3  m-2 picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3 m-2  picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
            <div class="col-3 m-2 picture">
                <a href="">
                    <div class="futureImage"></div>
                    <ul>
                        <li>
                            <span>TITRE</span>
                        </li>
                        <li>
                            <span>dernier album posté par</span>
                        </li>
                        <li>
                            <span>PSEUDO</span>
                        </li>
                    </ul>
                </a>
            </div>
        </div>

    </main>


{% endblock %}